<?xml version="1.0"?>
<config>
    <db>
        <db0>
            <type>MySql</type>
            <login>testuser</login>
            <pass>12345</pass>
            <host>localhost</host>
            <base>cmf1</base>
        </db0>
        <db2>
            <type>MySql</type>
            <login>studlab_chaos</login>
            <pass>cw9Daiph</pass>
            <host>localhost</host>
            <base>cms2</base>
        </db2>
        <db1>
            <type>MySql</type>
            <login>studlab_chaos</login>
            <pass>cw9Dai</pass>
            <host>localhost</host>
            <base>studlab_main</base>
        </db1>
    </db>
    <path>
        <boot>/boot</boot>
        <lib>/lib</lib>
        <tmp>/tmp</tmp>
        <cache>/cache</cache>
        <log>/log</log>
        <usr>/usr</usr>
        <component>/component</component>
        <theme>/theme</theme>
        <var>/var</var>
    </path>
    <lib>
        <config>
            <auto>1</auto>
        </config>
        <ORM>
            <auto>1</auto>
        </ORM>
        <system>
            <statistic>
                <view>TRUE</view>
                <file>log/log.html</file>
            </statistic>
        </system>
    </lib>
    <default>
        <db>db0</db>
        <prefix>sys</prefix>
        <lang>ru</lang>
    </default>
</config>