<?xml version="1.0"?>
<config>
    <mnix>
        <acl>
            <tune>11</tune>
        </acl>
        <cache>
            <size>1000</size>
        </cache>
        <db>
            <base>
                <dbms>mysql</dbms>
                <user>testuser</user>
                <pass>12345</pass>
                <host>localhost</host>
                <base>cmf1</base>
            </base>
            <system>
                <dbms>xml</dbms>
                <file>system.xml</file>
            </system>
        </db>
        <core>
            <base>system</base>
            <log>
                <system>1</system>
                <warning>1</warning>
                <error>1</error>
                <debug>1</debug>
            </log>
        </core>
        <polyglot>
            <default>
                <lang>ru</lang>
            </default>
        </polyglot>
    </mnix>
</config>